@import "tailwindcss";

@font-face {
  font-family: "Poppins-Regular";
  src: url("/fonts/Poppins-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins-Bold";
  src: url("/fonts/Poppins-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins-Light";
  src: url("/fonts/Poppins-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "DynaPuff";
  src: url("/fonts/DynaPuff.ttf") format("truetype");
  font-display: swap;
}

/* overall */
* {
  box-sizing: border-box;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding-top: 10px;
}

@media (max-width: 480px) {
  #root {
    padding-top: 5px;
  }
}

body {
  background: #2b2b2e;
  color: #fafaf8;
  font-family: "Poppins-Regular";
  margin: 0;
}
a {
  font-family: "Poppins-Light";
  text-decoration: none;
  color: #fafaf8;
}
a:hover {
  text-decoration: underline;
}

/* hide scrollbar in chrome browser */
.no-scrollbar {
  -ms-overflow-style: none; 
  scrollbar-width: none;  
}

.no-scrollbar::-webkit-scrollbar {
  display: none; 
}